  /* === HEADER === */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
    background-color: white;
    position: relative;
  }
  
  .header__top {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .header__toggle-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .header__brand-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d2025;
  }
  
  /* === Desktop Navigation === */
  .header__nav--desktop {
    display: flex;
  }
  .nav__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  .nav__link {
    text-decoration: none;
    color: #69707D;
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
    transition: all 0.3s;
  }
  .nav__link--active {
    color: #1d2025;
    font-weight: bold;
    border-bottom: 3px solid #ff7d1a;
  }
  .nav__link:hover {
    color: #ff7d1a;
    font-weight: bold;
    /* border-bottom: 3px solid #1d2025; */
  }
  
  /* === Actions === */
  .header__actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .header__avatar img {
    width: 35px;
    border-radius: 50%;
  }
  
  /* === Mobile Menu === */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 999;
    padding: 2rem 1rem;
  }
  .mobile-menu.open {
    left: 0;
  }
  .mobile-menu__close-btn {
    margin-bottom: 2rem;
    cursor: pointer;
  }
  .mobile-menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .mobile-menu__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1d2025;
  }
  .mobile-menu__link--active {
    color: #ff7d1a;
    font-weight: bold;
  }
  
  /* === Responsive === */
  @media (max-width: 768px) {
    .header__nav--desktop {
      display: none;
    }
    .header__toggle-btn {
      display: block;
    }
  }